{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "prettier/prettier": [2, {
      "trailingComma": "all",
      "singleQuote": true,
      "jsxBracketSameLine": false
    }]
  },
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  }
}